<html>
  <style>
    .download{
      font-size: 800%;
      size: 200%;
      background-color: red;
    }
  </style>

  <a class="download" href="https://s3.amazonaws.com/spades-image-collection/build.apk">DOWNLOAD GAME</a>
</html>
